{% extends 'base.html' %}

{% block title %}
    Quiz #{{ object.pk }} preview
{% endblock %}

{% block body %}
    <p><b>Номер квиза: {{ object.pk }}</b></p>
    <p><b>Название: {{ object.title }}</b></p>
    <a class="update-link" href="{% url 'quizzes:quizzes_details' pk=object.pk%}">
        Детальная информация
    </a>
    <a class="play_link" href="{% url 'gameplay:start' pk=object.pk%}">
        PLAY
    </a>
    <a href="{% url 'quizzes:quizzes_list' %}">
        Мои квизы
    </a>

{% endblock %}