{% extends 'quizzes/base.html' %}

{% block title %}
    Quizzes #{{ object.pk }} detail
{% endblock %}

{% block body %}
    <h1>Вот твой квиз (#<strong>{{ object.pk }})</strong></h1>
    <p><b>Название: {{ object.title }}</b></p>
    <p><b>Описание: {{ object.description }}</b></p>
    <p><b>Источник: {{ object.get_type_display }}</b></p>
    <p><b>Категория: {{ object.category }}</b></p>
    <p><b>Тема: {{ object.subject }}</b></p>
    <p><b>Уровень сложности: {{ object.get_level_display }}</b></p>
    <p><b>Стиль вопросов: {{ object.get_style_display }}</b></p>
    <p><b>Аудитория: {{ object.get_audience_display }}</b></p>
    <p><b>Время на вопрос: {{ object.time_limit_seconds }}</b></p>
    <ul>
        <p>Вопросы:</p>
        {% for question in object.questions.all%}
            <li>Вопрос № {{ forloop.counter }}: {{ question.text }}</li>
            <li>
                <ul>
                    {% for answer in question.options.all%}
                        <li>Вариант ответа #{{ answer.order }}: {{ answer.text }}</li>
                        <li>Верный/неверный: {{ answer.is_correct }}</li>
                    {% endfor %}
                </ul>
            </li>
            <li>Факт: {{ question.fact }}</li>
        {% endfor %}
    </ul>
    <a class="update_link" href="{% url 'quizzes:quizzes_update' pk=object.pk%}">
        Обновить квиз
    </a>
    <a class="delete_link" href="{% url 'quizzes:quizzes_delete' pk=object.pk%}">
        Удалить квиз
    </a>
    <a href="{% url 'quizzes:quizzes_list' %}">
        Мои квизы
    </a>

{% endblock %}