body {
    margin: 0;

}

.container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    background: lightblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.messages {
    margin: 30px;
}

.messages li.error {
    background-color: red;
}

.messages li.success {
    background-color: green;
}

.formset_errors {
    background-color: red;
}

.delete_link {
    color: red;
}

.update_link {
    color: yellow;
}

.question-form p:has(input[name$="-DELETE"]) {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    flex: 1;
}

footer {
    margin-top: 50px;
}

.header_auth_right_section {
    display: flex;
}

.header_not_auth_right_section {
    display: flex;
}

.main_menu_list {
    display: flex;
    flex-direction: column;
}