{% extends 'base.html' %}

{% block title %}
    Users detail
{% endblock %}

{% block body %}
  <h2>📋 Информация о пользователе</h2>
  <p>Никнейм пользователя: {{ user_obj.username }}</p>
  <p>Имя пользователя: {{ user_obj.first_name|default:"—" }}</p>
  <p>Фамилия пользователя: {{ user_obj.last_name|default:"—" }}</p>
  {% if followed %}
    <p>✅ Вы подписаны</p>
    <form method="post" action="{% url 'social:unfollow' user_id=user_obj.pk %}">
        {% csrf_token %}
        <button class="btn" type="submit">Отписаться</button>
    </form>
  {% elif not is_it_me %}
    <form method="post" action="{% url 'social:follow' user_id=user_obj.pk %}">
        {% csrf_token %}
        <button class="btn" type="submit">Подписаться</button>
    </form>
  {% endif %}
  <a href="{% url 'quizzes:menu' %}" class="btn">🏠 Вернуться в меню</a>
{% endblock %}