{% extends 'base.html' %}

{% block title %}
    INDEX START
{% endblock %}

{% block body %}
    <h1>{{ series.title }}</h1>
    <p>Описание квиза: {{ series.description }}</p>
    <p>Квиз содержит {{ rounds_count }} раундов. Каждый раунд имеет свои уровень сложность, количество вопросов, отведенное время на ответ.</p>
    <p>Если готов - жми НАЧАТЬ. Желаем удачи!</p>
    <form method="post">
        {%  csrf_token %}
        <div>
            <button type="submit">НАЧАТЬ</button>
        </div>
    </form>
{% endblock %}
